body {
    font-family: Adobe Clean, Helvetica Neue, Verdana, Arial;
}

body:before {
    background: url('logo.png') no-repeat bottom red;
    background-size: contain;
    content: '';
    height: 8vw;
    position: absolute;
    right: 2vw;
    top: 0;
    width: 5vw;
}

.aem-AuthorLayer-Design body:before,
.aem-AuthorLayer-Developer body:before,
.aem-AuthorLayer-Edit body:before,
.aem-AuthorLayer-Targeting body:before,
.aem-AuthorLayer-Timewarp body:before {
    display: none;
}

h1 {
    background: #eee;
    margin: -2% -2% 0 -2%;
    padding: 2%;
}

ul {
    list-style: square inside;
}

p {
    margin-bottom: .5em;
}

code {
    background: #eee;
    padding: 0 .2em
}
